{% extends "new/base.html" %}
{% load static %}
{% block content %}
  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Xayriya ma'lumotlari</h2>
          <ol>
            <li><a href="/">Asosiy sahifa</a></li>
            <li>Xayriya ma'lumotlari</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
      <div class="container">
        {% for message in messages %}
        <div style="margin-bottom: 30px;" class="col-sm-12">
          <div  class="alert fade alert-simple {% if message.tags == 'success' %} alert-{{message.tags }} {% else %} alert-danger {% endif %} alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show" role="alert" data-brk-library="component__alert">
            <i class="start-icon far fa-times-circle faa-pulse animated"></i>
            {{message}}
          </div>
        </div>
      {% endfor %}
        <section id="portfolio-details" class="portfolio-details">
          <div class="container">
        
            <div class="row gy-4">
        
              <div class="col-lg-8">
                <div class="portfolio-details-slider swiper">
                  <div class="swiper-wrapper align-items-center">
                    <div class="swiper-slide">
                      <img src="{{ans.health_certificate.url}}" alt="">
                    </div>
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>
        
              <div class="col-lg-4">
                <div class="portfolio-info">
                  <h3>Ma'lumotlar: </h3>
                  <ul>
                    <li><strong>F.I.SH: </strong>{{ans.profile.name}}</li>
                    <li><strong>Kerak mablag': </strong>{{ans.needed_cash}} so'm</li>
                    <li><strong>Qolgan mablag': </strong>{{ans.ca_sh}} so'm</li>
                    <li><strong>Muddat: </strong>{{ans.deadline}}</li>
                  </ul>
                </div>
                <div class="portfolio-description">
                  <h2>Ma'lumot:</h2>
                  {% autoescape off %}
                    {{ans.desc}}
                  {% endautoescape %}
                </div>
              </div>
        
            </div>
           
                <section id="contact" class="contact" >
                    <div class="container" data-aos="fade-up">
                      <div class="section-title">
                        <p>To'lov qilish</p>
                      </div>
                      <div class="row" data-aos="fade-up" data-aos-delay="200">
                        <div class="col-lg-12 mt-2 mt-lg-0 d-flex align-items-stretch" style="margin: 0 auto;" >
                          <form method="post" role="form" class="php-email-form">
                            <div class="row">
                              <div class="form-group col-md-6">
                                <label for="type">To'lov turi: *</label>
                                <select name="type" id="type" class="form-control" required>
                                  <option value="0">Click</option>
                                  <option value="1">Payme</option>
                                  <option value="1">Apelsin</option>
                                  <option value="1">Payme</option>
                                </select>
                              </div>
                              <div class="form-group  col-md-6 mt-3 mt-md-0">
                                <label for="miqdor">Miqdori: *</label>
                                <input type="number"  class="form-control" name="miqdor" id="miqdor"  required>
                              </div>
                            </div>
                            <div class="form-group mt-3">
                              <label for="name">To'lov tavsifi: *</label>
                              <textarea class="form-control" name="message" rows="5" required></textarea>
                            </div>
                            
                            <div class="text-center mt-2"><button type="submit">To'lov qilish</button></div>
                          </form>
                        </div>
                      </div>
                
                    </div>
                  </section>
              
            <div class="container">
              <h2>Arizaga qilngan to'lovlar ro'yxati</h2>
              <ul style="padding:0" class="responsive-table">
                <li class="table-header">
                  <div class="col col-1">ID</div>
                  <div class="col col-2">F.I.SH</div>
                  <div class="col col-3">Pul miqdori</div>
                  <div class="col col-4">To'lov holati</div>
                </li>
                <li class="table-row">
                  <div class="col col-1" >42235</div>
                  <div class="col col-2" >John Doe</div>
                  <div class="col col-3" >3,000,000 so'm</div>
                  <div class="col col-4" >Pending</div>
                </li>
                <li class="table-row">
                  <div class="col col-1" >42442</div>
                  <div class="col col-2" >Jennifer Smith</div>
                  <div class="col col-3" >1,500,000 so'm</div>
                  <div class="col col-4" >Pending</div>
                </li>
               
              </ul>
            </div>
        
          </div>
        </section>
      </div>
    </section>

  </main><!-- End #main -->

{% endblock %}
 