{% extends "new/base.html" %}
{% load static %}
{% block content %}
    <main id="main">
  
      <!-- ======= Breadcrumbs Section ======= -->
      <section class="breadcrumbs">
        <div class="container">
          <div class="d-flex justify-content-between align-items-center">
            <h2>Ro'yxatdan o'tish</h2>
            <ol>
              <li><a href="/">Asosiy sahifa</a></li>
              <li>Ro'yxatdan o'tish</li>
            </ol>
          </div>
        </div>
      </section><!-- End Breadcrumbs Section -->
  
      <section class="inner-page">
        <div class="container">
          {% for message in messages %}
          <div style="margin-bottom: 30px;" class="col-sm-12">
            <div  class="alert fade alert-simple {% if message.tags == 'success' %} alert-{{message.tags }} {% else %} alert-danger {% endif %} alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show" role="alert" data-brk-library="component__alert">
              <i class="start-icon far fa-times-circle faa-pulse animated"></i>
              {{message}}
            </div>
          </div>
        {% endfor %}
          <section id="contact" class="contact" >
              <div class="container" data-aos="fade-up">
                <div class="section-title">
                  <p>Ro'yxatdan o'tish</p>
                </div>
                <div class="row" data-aos="fade-up" data-aos-delay="200">
                  <div class="col-lg-8 mt-2 mt-lg-0 d-flex align-items-stretch" style="margin: 0 auto;" >
                    <form method="post" role="form" class="php-email-form">
                      {% csrf_token %}



                      <div class="row">
                        <div class="form-group col-md-6">
                        <label for="name">F.I.SH: *</label>
                        <input type="text" name="name" class="form-control" id="name"  required>
                      </div>
                      <div class="form-group col-md-6 mt-3 mt-md-0">
                        <label for="type">Toifa: *</label>
                        <select name="type" id="type" class="form-control" required>
                          <option value="0">Murvvat ko'rsatuvchi</option>
                          <option value="1">Muruvvat oluvchi</option>
                        </select>
                      </div>
                    </div>
                      <div class="row">
                        <div class="form-group col-md-6">
                          <label for="phone">Telefon: *</label>
                          <input type="number"  class="form-control" name="phone" id="phone"  required>
                        </div>
                        <div class="form-group col-md-6 mt-3 mt-md-0">
                          <label for="name">Email: *</label>
                          <input type="email" class="form-control" name="email" id="email"  required>
                        </div>
                      </div>
                      <style>
                        #region, #location,#type{
                          height: 44px;
                          border-radius: 0;
                        }
                      </style>
                      <div class="row">
                        <div class="form-group col-md-6">
                          <label for="region">Viloyat: *</label>
                          <select name="region" onchange="edit_region()" id="region" class="form-control" required>
                            <option value="Toshkent shahri">Toshkent shahri</option>
                            <option value="Andijon viloyati">Andijon viloyati</option>
                            <option value="Fargʻona viloyati">Fargʻona viloyati</option>
                            <option value="Namangan viloyati">Namangan viloyati</option>
                            <option value="Toshkent viloyati">Toshkent viloyati</option>
                            <option value="Xorazm viloyati">Xorazm viloyati</option>
                            <option value="Navoiy viloyati">Navoiy viloyati</option>
                            <option value="Buxoro viloyati">Buxoro viloyati</option>
                            <option value="Samarqand viloyati">Samarqand viloyati</option>
                            <option value="Qashqadaryo viloyati">Qashqadaryo viloyati</option>
                            <option value="Surxondaryo viloyati">Surxondaryo viloyati</option>
                            <option value="Jizzax viloyati">Jizzax viloyati</option>
                            <option value="Sirdaryo viloyati">Sirdaryo viloyati</option>
                            <option value="Qoraqalpogʻiston">Qoraqalpogʻiston</option>
                          </select>                        
                        </div>
                        <div class="form-group col-md-6">
                          <label for="location">Tuman: *</label>
                          <select name="location" id="location" class="form-control" required>
                          </select>
                        </div>

                      </div>
                      <script src="{% static 'assets/js/register.js' %}"></script>
                   
                      <div class="row">
                        <div class="form-group col-md-6">
                          <label for="password1">Parol: *</label>
                          <input type="password" name="password1" onchange="password()" class="form-control" id="password1"  required>
                        </div>
                        <div class="form-group col-md-6 mt-3 mt-md-0">
                          <label for="password2">Parolni takrorlash: *</label>
                          <input type="password"  class="form-control" onchange="password()" name="password2" id="password2"  required>
                        </div>
                      </div>
                      <div class="text-center mt-2" ><button id="button_register" disabled  type="submit">Ro'yxatdan o'tish</button></div>



                    </form>
                  </div>
                  <p class="text-center mt-3">Ro'yxatdan o'tganmisiz? <a href="login.html">Kirish </a></p>
                </div>
          
              </div>
            </section>
          
        </div>
      </section>
  
    </main>
  
    {% endblock %}
